<app-toolbar title="Article: {{article?.title}}">
    <a mat-button [href]="article?.source_link" target="_blank">
        <mat-icon>open_in_new</mat-icon>
        Source link
    </a>
</app-toolbar>

<mat-card *ngFor="let article_element of article?.article_elements" class="article_element">
    <mat-card-content>
        <p *ngFor="let sentence of article_element?.sentences">
            <span *ngFor="let sentence_token of sentence?.sentence_tokens">
                {{sentence_token?.value}}
            </span>
        </p>
    </mat-card-content>
</mat-card>